<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Target platform Elver" sequenceNumber="139">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.logging.feature.group" version="1.1.1.201210222237"/>
<unit id="org.apache.log4j.feature.group" version="1.2.16.201210222237"/>
<unit id="org.dom4j.feature.group" version="1.6.1.201210222237"/>
<unit id="org.hibernate.feature.group" version="4.1.1.201210222237"/>
<unit id="org.hsqldb.feature.group" version="2.2.8.201210222237"/>
<unit id="javax.persistence.feature.group" version="2.0.1.201210222237"/>
<unit id="com.mysql.jdbc.feature.group" version="5.1.11.201210222237"/>
<repository location="http://www.elver.org/eclipse/2.0.0/update"/>
</location>
</locations>
</target>
